:root {
    --orange: hsl(26, 100%, 55%);
    --darkBlue: hsl(220, 13%, 13%);
    --darkGrey: hsl(219, 9%, 45%);
    --greyishBlue: hsl(220, 14%, 75%);
    --lightBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: #000000;
  }

.shoppingCartGroup {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.itemDescription {
    color: var(--darkGrey);
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    
}

.itemDescription strong {
    color: var(--black)
}

.imageDescription {
    display: flex;
    align-items: center;
}

.line {
    border-top: 1px solid var(--greyishBlue);
    width: 100%;
}

.checkoutCart {
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}


.checkoutImage {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.checkoutTitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.binButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.binImage {
    width: 10px;
}

.shoppingCartButton {
    background-color: var(--orange);
    color: var(--black);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    
}

.emptyCart {
    color: var(--darkGrey);
    margin: 35px;
}

.checkoutTitle {
    margin: 20px;
}

.shoppingCart {
    margin: 20px;
}

@media (max-width: 900px) {
    .checkoutCart {
        position: fixed;
        top: 80px;
        right: 20px;
        left: 20px;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 10px;
        width: calc(100% - 40px);
        max-width: 390px;
        height: auto;
        max-height: none;
        display: flex;
        z-index: 1;
    }
} 

