/* COLORS */

:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  /* neutral */
  --darkBlue: hsl(220, 13%, 13%);
  --darkGrey: hsl(219, 9%, 45%);
  --greyishBlue: hsl(220, 14%, 75%);
  --lightBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  /* - Black (with 75% opacity for lightbox background) */
  --black: hsl(0, 0, 0%);
}

/* BODY */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", normal;
  font-weight: 80;
  line-height: 1.7;
}

body {
  padding: 40px 100px;
}

/* NAV BAR*/

nav {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--greyishBlue);
  justify-content: space-between;
}

.nav-bar {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
}

nav ul li a {
  display: flex;
  margin: 0 15px;
  font-size: 16px;
  text-decoration: none;
  color: var(--black);
  align-items: center;
}

.menu-icon {
  display: none;
}

/* MOBILE NAV BAR */


@media (max-width: 900px) {

  body {
    padding: 20px;
  }

  nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
    padding-right: 10px;
  }

  nav {
    padding-bottom: 20px;
    border-bottom: none;
    justify-content: space-between;
  }

  .profile img {
    height: 32px;
    /* NO TOMA ESTE ESTILO */
  }

}


/* SHOPPING CART & PROFILE */

.cart-profile {
  display: flex;
  align-items: center;
}

.shopping-cart {
  margin-right: 40px;
}

.profile img {
  height: 40px;
}