/* COLORS */

:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  /* neutral */
  --darkBlue: hsl(220, 13%, 13%);
  --darkGrey: hsl(219, 9%, 45%);
  --greyishBlue: hsl(220, 14%, 75%);
  --lightBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: #000000;
}

/* BODY */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

body {
  padding: 40px 100px;
}

/* NAV BAR */

nav {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--greyishBlue);
  justify-content: space-between;
}

.menu-icon, .close-icon {
  display: none;
}

.menu-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 20px;
}

nav ul li a {
  display: flex;
  margin: 0 15px;
  font-size: 16px;
  text-decoration: none;
  color: var(--darkGrey);
  align-items: center;
}

nav ul li a:hover {
  color: var(--orange);
}

nav ul li a {
  display: flex;
  margin: 0 15px;
  font-size: 16px;
  text-decoration: none;
  color: var(--darkGrey);
  align-items: center;
}

/* SHOPPING CART & PROFILE */

.cart-profile {
  display: flex;
  align-items: center;
}

.cart-profile button {
  background-color: var(--white);
  border-style: none;
}

.profile img {
  height: 40px;
}

.profile img:hover {
  border: 2px solid var(--orange);
  border-radius: 50px;
}

.shopping-cart {
  margin-right: 40px;
  display:flex;
  align-items: center;
}

.cart-count {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 50px;
  width: 20px;
  height: 15px;
}


/* MAIN CONTENT */

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* IMAGE GALLERY */

.product-image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-right: 50px;
}

.main-image img {
  display: block;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.thumbnail-images {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}

.thumbnail-images img {
  width: 20%;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail-images img.active,
.thumbnail-images img:hover {
  border: 2px solid var(--orange);
}

.navigation-buttons {
  display: none;
}

.navigation-buttons button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  flex: 1;
  margin: 0 5px;
}

.navigation-buttons button:disabled {
  background-color: var(--darkGrey);
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  background: transparent;
  padding: 20px;
  position: relative;
  max-width: 80%;
  border-radius: 8px;
  justify-content: center;
}

.lightbox-main-image {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 50%;   
}

.lightbox-main-image img {
  max-width: 400px;
  height: auto;
  border-radius: 10px; 
  object-fit: contain;
}

.lightbox-thumbnail-images {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.lightbox-thumbnail-images img {
    max-width: 70px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.lightbox-thumbnail-images img.active,
.lightbox-thumbnail-images img:hover {
  border: 2px solid var(--orange);
}

.close-button {
  color: var(--orange);
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.navigation-buttons {
  position: absolute;
  top: 180px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 20px;
}

.navigation-buttons .prev-button,
.navigation-buttons .next-button {
  background: var(--white);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

/* PRODUCT PAGE */

.product-page {
  width: 100%;
  max-width: 548px;
  padding: 20px;
  margin-left: 50px;
}

.product-details h3 {
  color: var(--darkGrey);
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 23px;
}

.product-details h1 {
  font-size: 36px;
  margin-bottom: 31px;
  letter-spacing: 1px;
  font-weight: 700;
}

.product-details p {
  color: var(--darkGrey);
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 27px;
}

.price-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.final-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discounted-price {
  font-size: 28px;
  font-weight: 700;
  margin-right: 10px;
}

.discount-label {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.original-price {
  font-size: 16px;
  color: var(--greyishBlue);
  text-decoration: line-through;
  margin-top: 5px;
}

.quantity-cart {
  display: flex;
  align-items: center;
}

.quantity-section {
  display: flex;
  align-items: center;
  background-color: var(--lightBlue);
  border-radius: 10px;
  margin-right: 20px;
}

.quantity-section button {
  background-color: transparent;
  border: none;
  color: var(--orange);
  font-size: 24px;
  width: 40px;
  height: 60px;
}

.quantity-section span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
}

.add-to-cart {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========MOBILE VERSION========== */

@media (max-width: 900px) {
  body {
    padding: 0px;
  }

  /* NAV BAR */

  nav ul {
    display: none;
  }

  nav {
    padding: 20px;
    border-bottom: none;
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    padding-right: 10px;
  }

  .close-icon {
    display: block;
  }

  .menu-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .menu-links.open {
    left: 0;
  }

  .menu-links .close-icon {
    align-self: flex-end;
    margin: 20px;
  }

  .menu-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }

  .menu-links ul li {
    margin: 20px 0;
  }

  .menu-links ul li a {
    font-size: 18px;
    color: var(--darkBlue);
    text-decoration: none;
  }

  /* SHOPPING CART & PROFILE */

  .cart-profile .profile img {
    height: 30px;
  }

  .profile img:hover {
  border: none;
  }

  /* MAIN CONTENT */

  .main-content {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  /* IMAGE GALLERY */

  .main-image img {
    display: none;
  }

  .thumbnail-images {
    justify-content: center;
  }

  .thumbnail-images img {
    width: 100%;
    max-width: 400px;
    border-radius: 0px;
    margin: 0px;
  }

  .navigation-buttons {
    display: flex;
    justify-items: end;
  }

  .prev-button, .next-button {
    background-color: var(--white);
    border-radius: 60%;
    width: 30px;
    height: 30px;
    border-style: hidden;
  }

  .prev-button img,
  .next-button img {
    width: 12px;
    height: 12px;
  }

  .thumbnail-images img.active,
  .thumbnail-images img:hover {
    border: 0px;
  }

  .product-image-gallery {
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    margin-right: 0px;
  }

  

  /* PRODUCT PAGE */

  .product-page {
    width: 100%;
    padding: 20px;
    margin-left: 0px;
  }

  .quantity-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .quantity-section button {
    background-color: transparent;
    border: none;
    color: var(--orange);
    font-size: 24px;
  }

  .quantity-section button:hover {
    color: var(--orange);
  }

  .quantity-section button:active {
    color: var(--orange);
  }

  .quantity-section {
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
  }
}
